@page

@{
    ViewData["Title"] = "Reviews";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #F0B90F;
            text-align: center;
            margin:auto;
        }

        h1 {
            color: maroon;
            font-family: fantasy;
        }

        h3 {
            color: green;
            font-family: Calibri;
        }
    </style>
</head>



<body>
<div>

        <nav>
            <a href="./Sophia">Home</a>
            <br />
            <a href="./Reviews">Reviews</a>
            <br />
            <a href="About">About</a>
        </nav>

<img src="/Images/Sophia.png" />
    </div>
    <h1>Reviews</h1>
    <p>This website is book reccommendations made by me. </p>
    <span><em>books,books,books!</em></span>

    <h2>
        Best books for ages 10-14:
    </h2>

    
    <img src="/Images/best-books-of-2022.jpg" height="360" width="720"/>

<h3>Hetty Feather:FOUR STARS!this book is more for 10 year olds.</h3>
   <p> this is an exiting and heartwarming book it has sad parts and gripping parts to. </p>

   <h3>Murder Most Unladylike:FIVE STARS! This series of books are so dramatic and great fun to read. You can't put it down!</h3>

   <p>I loved these books because they are so exciting and are a gripping read. Join Hazel and Daisy as they venture from place to place solving electrifying murders.</p>


    <h3>Harry potter and the philosophers stone: FIVE STARS! this book was great!</h3>

    <p>
      This book had lots of twists and turns and you never get to find out the real villian until the very end. My favourite part is when they get soarted into the four houses if i went to hogwarts i would want to be in Gryfindore! 
    </p>

    <div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="240" src="https://giphy.com/embed/jjDobm1keLsVZwJSkc/video" width="240"></iframe></div>

    </body>
    
</html>
